<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.557856899178-99petkkh11lg0efn7k4m3f8pigiljsra</string>
			</array>
		</dict>
	</array>
	<key>IMGBB_API_KEY</key>
	<string>4a31148cb6f8866eaefefbd9a207d5b2</string>
	<key>WEB_APP_BASE_URL</key>
	<string>https://cardcorevo.netlify.app</string>
</dict>
</plist>
